h1 {
    font-size: 4em;
    font-family: 'Mali', cursive;
    color: violet (255, 255, 255);
    margin-top: -10px;
}

h2 {
    font-size: 3em;
    font-family: 'Mali', cursive;
    color: violet (255, 255, 255);
    margin-top: 50px;
    text-align: center;
 
}


html {
    background: url(../images/pastel3background.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
}

ul {
    list-style: none;
    margin-top:0px;
    padding:0px;
    overflow: hidden;
    background-color: violet

}

li {
    float: left;
}
li a {
    display: block;
   color:black;
   font-family: 'Mali', cursive;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
    background-color: violet;
     }

     p { color:black;
        font-family: 'Mali', cursive;
        text-align: center;
        font-size: 24px;
     }
     .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    
    }
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    
   
    
    .accordion {
        background-color: violet;
        color: #444;
        cursor: pointer;
        padding: 0px;
        width: 100%;
        border: none;
        text-align: Center;
        outline: none;
        font-size: 40px;
        transition: 0.4s;
        font-family: 'Mali', cursive;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
  
    
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    
  img{
      max-width: 80%;
      

  }